@import url('https://fonts.googleapis.com/css?family=Lobster:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Grandstander:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

body {
  background: #0a2a43 !important;
  min-height: 1500px;
}

main {
  overflow: hidden;
}

/* ########################################################################################## */
/*                                           Start                                            */
/* ########################################################################################## */

.start {
  position: relative;
  width: 100%;
  height: calc(100vh - 5rem);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #0a2a43, transparent);
  z-index: 10;
}

.start::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a2a43;
  mix-blend-mode: color;
  z-index: 8;
}

.start img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#title {
  position: relative;
  color: #fff;
  font-size: 10em;
  font-family: 'Potta One';
  text-shadow: 0 0 10px #000;
  z-index: 2;
}

#road {
  z-index: 3;
}

/* ########################################################################################## */
/*                                      Presentation                                          */
/* ########################################################################################## */

.presentation {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}

.presentation section {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 4em;
  width: 100%;
  height: 90vh;
}

.presentation img {
  height: 100%;
}

.presentation .text {
  max-width: 40%;
  font-family: Poppins;
  font-size: 1.2rem;
}

.presentation section:nth-child(even) {
  background: rgb(226, 214, 214);
  transform: skewY(-5deg);
  flex-flow: row-reverse nowrap;
}

.presentation section:nth-child(even) p,
.presentation section:nth-child(even) img,
.presentation section:nth-child(even) h2 {
  transform: skewY(5deg);
}

.presentation section:nth-child(odd) {
  color: #fff;
}

@media screen and (max-width: 1150px) and (orientation: portrait) {
  #moon {
    display: none;
  }

  .presentation img {
    display: none;
  }

  .presentation .text {
    max-width: 100%;
    line-height: 3em;
  }

  .presentation section {
    height: 30vh;
    overflow: hidden;
  }
}

@media screen and (max-width: 1150px) and (orientation: landscape) {
  #moon {
    display: none;
  }

  .presentation img {
    display: none;
  }

  .presentation .text {
    max-width: 100%;
    line-height: 2em;
  }

  .presentation section {
    height: 80vh;
    overflow: hidden;
  }
}

/* ########################################################################################## */
/*                                   Covid Thing                                              */
/* ########################################################################################## */

.covid-container {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  cursor: url('../images/coronavirus.png') 45 45, pointer;
  margin: 3rem;
  padding: 3.2rem;
}

.covid-container .face {
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background:#ffcd00;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.covid-container .face::before {
  content: '';
  position: absolute;
  top: 180px;
  width: 150px;
  height: 70px;
  border-radius: 0px 0px 70px 70px;
  background: #b57700;
  transition: 0.5s;
}

.covid-container .face:hover::before {
  top: 210px;
  height: 20px;
  border-radius: 0px 0px 0px 0px;
  background: #9d0b00;
}

.covid-container .face:hover {
  background: linear-gradient(180deg, #f44336, #f44336, #ffcd00);
}

.covid-container .face .eyes {
  position: relative;
  top: -40px;
  display: flex;
  flex-flow: row nowrap;
}

.covid-container .face .eyes .eye {
  position: relative;
  height: 80px;
  width: 80px;
  display: block;
  margin: 0 15px;
  background: white;
  border-radius: 50%;
}

.covid-container .face .eyes .eye::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  background: #333;
  border-radius: 50%;
}