@import url('https://fonts.googleapis.com/css?family=Lobster:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Grandstander:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ########################################################################################## */
/*                                     Scrollbar                                              */
/* ########################################################################################## */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
    background: #DCDCDC;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: orange;
    border-radius: 1rem;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background-color: #FF8C00;
}

/* ########################################################################################## */
/*                                           Nav                                              */
/* ########################################################################################## */

body {
    background-image: url("../images/page-bg.jpg");
    background-attachment: fixed;
    overflow-x: hidden;
}

header {
    position: -webkit-sticky;
    position: sticky;
    z-index: 100;
    top: 0;
}

.nav-container {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #666, #888);
    max-height: 150px;
    height: 12vh;
}

/* ########################################################################################## */
/*                                          Logo                                              */
/* ########################################################################################## */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-height: 100px;
    height: 10vh;
    cursor: pointer;
}
  
.logo .logo-txt {
    color: white;
    line-height: 5.4rem;
    margin-left: 0.73vw;
    font-size: 2.8em;
    font-family: Audiowide;
    cursor: pointer;
    transition: color 1s;
    transition: font-size none; 
}

.logo .logo-txt:hover {
    color: purple;
}

/* ########################################################################################## */
/*                                       Nav Links                                            */
/* ########################################################################################## */

.nav-links {
    display: flex;
    position: relative;
    list-style: none;
    justify-content: space-around;
    width: auto;
    text-align: center;
}

.nav-links a {
    text-decoration: none;
    position: relative;
    color: whitesmoke;
    font-family: Grandstander;
    font-size: 1rem;
    padding: 0.3em 0.5em;
    margin: 0 0.5em;
}

.nav-link:hover {
	color: #000;
    background: #00a9e2;
}

.active {
    background: #00a9e2;
}

@media screen and (max-width: 1150px) {
    .nav-container {
        justify-content: space-around;
    }

    .nav-links a{
        font-size: 2rem;
    }
}

/* ########################################################################################## */
/*                                         Login                                              */
/* ########################################################################################## */

.login-btn {
    height: 3rem;
    width: auto;
    padding: 0 0.5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
  
.login-btn-txt {
    margin: auto 0;
    text-decoration: none;
    font-family: Audiowide;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

#account-symbol {
    display: none;
}

@media screen and (max-width: 1150px) {
    .account-text {
        display: none;
    }

    #account-symbol {
        display: inline-block;
    }
}

/* ########################################################################################## */
/*                                        Hamburger                                           */
/* ########################################################################################## */
  
.hamburger {
	display: none;
}

.hamburger div {
	width: 40px;
	height: 5px;
	background: #dbdbdb;
	margin: 7px;
	transition:all 0.3s ease;
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-7px,8px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-7px,-8px);
}

/* ########################################################################################## */
/*                                      Queries                                               */
/* ########################################################################################## */

@keyframes navLinkFade {
	from {
		opacity:0;
		transform: translatex(50px);
	}
	to {
		opacity: 1;
		transform:translatex(0px);
	}
}
    
@media screen and (max-width: 1150px) {
    header {
        top: 0;
    }

    .nav-links {
		position: fixed;
		top: 0;
		right:0;
        width:60%;
        padding-top: 6.5em;
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content:space-evenly;
		background:var(--main-header-background);
		transform:translatex(100%);
		transition: transform 0.5s ease-in;
        z-index: -1;
        background: linear-gradient(to right, #666, #888);
    }
    	
	.nav-links li {
		opacity:0;
	}

    .hamburger {
		display: block;
		cursor:pointer;
    }	
}

.nav-active {
	transform:translatex(0%);
}

/* ########################################################################################## */
/*                                        Footer                                              */
/* ########################################################################################## */

.foot-line {
    margin: 2.3rem;
    height: 0.1rem;
    color: grey;
}
  
.foot-contents {
    justify-content: space-around;
    position: flex;
}
  
.foot-contents .copyright {
    margin: 2.3rem;
    place-content: left;
    color: silver;
    font-family: Roboto;
    font-size: 1rem;
}

@media screen and (max-width: 1150px) {
    .foot-contents .copyright {
        font-size: 1.5rem;
    }
}

/* ########################################################################################## */
/*                                      Footer End                                            */
/* ########################################################################################## */