@import url('https://fonts.googleapis.com/css?family=Lobster:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Grandstander:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* ########################################################################################## */
/*                                  Number Generators                                         */
/* ########################################################################################## */

.page-head {
    font-family: Audiowide;
    font-size: 4rem;
    font-weight: bold;
    color: white;
    cursor: default;
    padding: 2.3rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.gen-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 20rem;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 0.8rem darkmagenta;
    margin: 0 13rem;
    border-radius: 2rem;
}

.range-selection {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin: 4rem;
}

.field {
    position: relative;
    margin: 1.8rem;
}

.field input {
    padding: 1.1rem 1.3rem;
    font-family: Grandstander;
    font-size: 1rem;
    min-height: 55px;
    outline: none;
    border-radius: 3rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
}

.field label {
    position: absolute;
    top: 1.3rem;
    left: 1.8rem;
    font-family: Grandstander;
    font-weight: bold;
    pointer-events: none;
    color: gray;
    transition: transform 0.3s ease, color 0.5s ease;
}

.field input:focus ~ label, .field input:valid ~ label {
    transform: translate(-0.5rem, -2.5rem);
    color: lime;
}

.field input:focus, .field input:valid {
    border-color: darkblue;
}

.generate-btn {
    padding: 1.5rem;
}

.generate-btn button {
    padding: 1.2rem 4rem;
    outline: none;
    font-family: Poppins;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    position: relative;
    background: none;
    border: none;
    color: #41f321;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
}

.generate-btn button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #41f321;
    border-left: 2px solid #41f321;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.generate-btn button::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #41f321;
    border-right: 2px solid #41f321;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.generate-btn button:hover::before, .generate-btn button:hover::after {
    width: 100%;
    height: 100%;
    transition-delay: 0s;
}

.generate-btn button:hover {
    background: #41f321;
    color: #111;
    box-shadow: 0 0 1rem #41f321;
    transition-delay: 0.5s;
}

#num-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.3);
    font-family: Grandstander;
    box-shadow: 0 0 1 darkmagenta;
    border-radius: 1.5rem;
    margin: 2rem 13rem;
    min-height: 100px;
    padding: 5rem;
    text-align: center;
    font-family: Grandstander;
    font-size: 4rem;
    overflow: hidden;
    color: white;
}

.gen-settings-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.dup-field {
    margin: auto;
    color: black;
    font-family: Grandstander;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    background: white;
    border-radius: 3rem;
    border-style: solid;
    border-width: 0.1rem;
    border-color: black;
}

.group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 100px;
    margin: 2rem 0.5rem;
    border: solid 0.2rem darkolivegreen;
    background: rgba(153, 153, 102, 0.3);
    padding: 1rem 0.8rem;
}

.datetime span {
    font-family: Grandstander;
    text-align: center;
    color: white;
    display: block;
    padding: 1.8rem;
}

/* ########################################################################################## */
/*                                        Queries                                             */
/* ########################################################################################## */

@media screen and (max-width : 1150px) {
    .gen-container {
        width: 100vw;
        min-height: 20rem;
        background: linear-gradient(to bottom, transparent, #111);
        box-shadow: none;
        margin: 0;
        border-radius: 0;
    }

    .field input {
        font-size: 2rem;
        min-height: 1.5rem;
        min-width: 6rem;
    }
    
    .field label {
        position: absolute;
        top: 1.4rem;
        left: 2.2rem;
        font-size: 2rem;
    }
    
    .field input:focus ~ label, .field input:valid ~ label {
        transform: translate(-0.8rem, -3.6rem);
    }

    .dup-field {
        font-size: 2rem;
        min-height: 1.5rem;
    }

    .gen-settings-container {
        flex-direction: column;
    }

    .generate-btn {
        margin: 2rem;
    }

    #num-container{
        background: rgba(0, 0, 0, 0.5);
        box-shadow: none;
        border-radius: 0;
        margin: 0;
        width: 100vw;
        margin-top: 1.5rem;
    }

    .generate-btn button {
        font-size: 1.6rem;
    }

    .generate-btn button::before {
        width: 20px;
        height: 20px;
    }
    
    .generate-btn button::after {
        width: 20px;
        height: 20px;
    }

    .datetime {
        font-size: 1.3rem;
    }
}